<!-- <h1>Placeholder</h1>
<div class="ui divider"></div> -->

<!-- * NOTE: w/ custom title-->
<!-- <app-divider title="Placeholder Component"></app-divider> -->

<!-- * NOTE: w/o any variables-->
<!-- <app-divider></app-divider> -->

<!-- * NOTE: ng-content w/ app-divider -->
<app-divider>
	Placeholder Component
</app-divider>

<!-- * NOTE: w/ properties example -->
<!-- <app-placeholder [header]="true" [lines]="5"></app-placeholder> -->

<!-- * NOTE: w/o any properties -->
<app-placeholder></app-placeholder>

<app-divider>

	Segment Component
</app-divider>

<app-segment>
	<header>
		<i class="pdf file outline icon"></i>
		No documents are listed for this customer.
	</header>

	<button class="ui primary button"> Add Document</button>
</app-segment>