<!--
  Modules
-->

<!-- <app-elements-home></app-elements-home>
<app-collections-home></app-collections-home>
<app-mods-home></app-mods-home>
<app-views-home></app-views-home> -->
<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/collections" class="item" routerLinkActive="active">Collections </a>
    <a routerLink="/elements" class="item" routerLinkActive="active">Elements </a>
    <a routerLink="/mods" class="item" routerLinkActive="active">Modules </a>
    <a routerLink="/views" class="item" routerLinkActive="active">Views </a>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
